@charset "UTF-8"

;div {
    display: inline-block;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    height: 400px;
    width: 200px;
}

#div01:hover {
    background-color: #004d25;
}

#div02:hover {
    background-color: #cccccc;
}

#div03:hover {
    background-color: #5a1317;
}


#div01{
    background-color: #009246;
}

#div02{
    background-color: #FFFFFF;
}

#div03 {
    background-color: #CE2B37;
}